.venv-clearvoice/
__pycache__/
.pytest_cache/
*.egg-info/
.DS_Store
*.MOV
*.mov
*.mp4
*.wav
audio_procesado/
logs/
TheSilenceOfTheShorts.app/Contents/MacOS/
.superpowers/
checkpoints/
*.pth
*.pt
TheSilenceOfTheShorts.app/Contents/_CodeSignature/
